{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semicolon": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "semi": true,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "options": { "parser": "svelte" }
    }
  ]
}
